:root{
    --correct-color: #bfffbf;
    --wrong-color: #ff8585;
}

.quiz-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid;
}


.quiz-wrapper .answers-wrapper .option{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    padding-left: 6px;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.option:hover{
    background: rgba( 255, 255, 255, 0.15 );
}

.quiz-wrapper button{
    width: 100%;
}